.captcha {
    height: fit-content;
    width: 120px;
    padding: 10px 20px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    background-image: url(../../../public/captcha_bg.png);
    background-size: 220px;
    user-select: none;
}